:root{
    --color-black: #000;
    --color-green: #7db529;
    --color-blue: #6868ea;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  footer
  {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }
  
  .content {
    display: grid;
    place-items: center;
    min-height: 98vh;
    background-color: transparent;
  }
  
  .all_form {
    background-color: transparent;
    border: none;
    padding: 43px;
    height: 70vh;
    width: 60%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .room_label {
    color: var(--color-black);
    animation-iteration-count: 1;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
  }
  
  .all_form input {
    width: 100%;
    padding: 12px 5px;
    outline: none;
    border: 1px solid var(--color-black);
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  .all_form button {
    width: 100%;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-black) ;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: 0.3s;
    color: var(--color-black);
    cursor: pointer;
  }
  
  .create_btn:hover {
    background-color: var(--color-green);
    color: white;
    
  }
  
  .join_btn:hover {
    background-color: var(--color-blue);
    color: white;
    
  }
  .err_msg
  {
    color: rgb(255, 75, 75);
  }
  .leave
  {
    text-decoration: none;
    color: var(--color-blue);
    font-size: large;
    font-weight: bold;
  }
  /*This will work only if width is less than or equal to max-width*/
  @media only screen and (max-width: 2070px ) and (max-height: 330px){
    .all_form{
        height: 110vh;
    }
    
  } 

  
  @media only screen and (max-width: 768px) {
    .all_form {
      width: 80%;
      padding: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .all_form {
      width: 90%;
      padding: 10px;
    }
    .room_label {
      font-size: 20px;
    }
    .all_form input {
      font-size: 14px;
      
    }
    .all_form button {
      font-size: 0.8rem;
      padding: 0.8rem 0.5rem;
    }
  }
  