{% extends 'base.html' %}
{% block head %}
    <title> {{room}} Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/room.css") }}">
{% endblock head %}
{% block content %}
<a class="leave" href="{{url_for('home_view')}}">Home</a>
<div class='div-el'>
    <div class="message-box">
        <h2>Chat Room: {{room}}</h2>
        <div class="messages" id="messages">
        </div>
        <div class="inputs">
            <input type="text" name="message" id="MyInput" placeholder="message" rows="3">
            <button type="button" name="send" id="send-btn">
                send
            </button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename="js/app.js") }}"></script>
{% for msg in messages %}
 <script type="text/javascript">
    createMessage("{{msg.name}}","{{msg.message}}");
 </script>
{% endfor %}

{% endblock content %}